body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

li {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    background: #3780f6;
    color: #F9FAF8;
    font-size: 18px;
    margin: 0;
    border-style: none;
    border-radius: 6px;
    padding: 6px 24px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.cards {
    display: flex;
}

.quote {
    background: #E5E7EB;
    padding: 120px 240px;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

p.credit {
    font-size: 24px;
    font-weight: 800;
    text-align: right;
    margin-top: 18px;
}

.cta {
    background: #3780f6;
    margin: 80px 160px;
    border-radius: 6px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    margin: 0;
    margin-bottom: 4px;
    color: #F9FAF8;
}

.cta-text p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.cta button {
    background: #3780f6;
    color: #F9FAF8;
    font-size: 18px;
    margin: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #F9FAF8;
    border-radius: 6px;
    padding: 6px 24px;
}

footer {
    background: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: auto;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}